* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  transition-duration: 0.5s;
  margin-bottom: 10px;
  &:hover {
    color: #3d3968;
    font-size: 1.01 em;
    -webkit-transform: rotateZ(1deg);
    -ms-transform: rotateZ(1deg);
    transform: rotateZ(1deg);
  }
}

h2 {
  padding-top: 5px;
  margin: 0;
}

/*
Header and Nav
*/
.Header {
  padding: 10px;
  background-color: #ebe0de;
}

.Header-Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;

  clear: both;
  content: "";

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

#block-bedtime-main-menu {
  @media screen and (max-width: 800px) {
    margin: auto;
  }
  & ul {
    list-style: none;
    padding-left: 0px;
    & li {
      float: left;
      & a {
        transition-duration: 0.4s;
        padding: 10px;
        border: solid #938ec1 1px;
        margin: 4px;
        border-radius: 4px;
        text-decoration: none;
        color: #3d3968;
        &:hover {
          background-color: #938ec1;
          color: black;
        }
      }
    }
  }
}

.Branding-Container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

/*
To make the image a circle. 
*/
.Image-Cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  @media screen and (max-width: 800px) {
    margin: 0px;
  }
}
.Site-Logo {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.Site-Name {
  display: inline-block;
  font-weight: bold;
  font-size: xx-large;
  padding: 0 8px 10px 8px;
  a {
    text-decoration: none;
  }
}

/*
Button Styles
*/

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #f3ebe8;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover,
button:focus {
  background: #efced8;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
button:active {
  transform: scale(0.99);
}

/*
Body
*/

.Main-Content {
  padding: 60px;
}

/*
Footer
*/

.Footer {
  background-color: #e96a49;
  padding: 10px;
  padding-bottom: 30px;
}

.Copyright {
  text-align: center;

  p {
    display: inline-block;
    margin: auto;
    transform: rotate(-3deg);
  }
}
